html {
  box-sizing: border-box;
  font-size: 9px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--blue);
  min-width: 300px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgb(10, 25, 47);
  --white: rgb(204, 214, 246);
  --gray: rgb(136, 146, 176);
  --green: rgb(98, 249, 213);
}

h1 {
  background-color: var(--blue);
  padding: 4rem 0 2.5rem;
  text-align: center;
  color: var(--green);
  font-size: 5rem;
  box-shadow: 0px 1px 0px var(--green);
}

main {
  color: var(--white);
}

select :nth-child(2n + 1) {
  background-color: var(--white);
}

ul {
  max-width: 600px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selection {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.select {
  color: var(--blue);
  background-color: var(--green);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.leagueInfo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.standings {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.h2h-ui {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.winCounter {
  display: flex;
  justify-content: space-around;
}

.winCountItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10rem;
  height: 15rem;
}

.h2hItem {
  width: 40rem;
  margin: 2rem 1rem 1rem;
}

.date {
  display: flex;
  justify-content: center;
  padding-bottom: 0.4rem;
}

.result {
  display: flex;
  width: 40rem;
}

.result_homeTeam {
  display: flex;
  width: 44%;
  justify-content: flex-end;
  align-self: center;
}

.result_awayTeam {
  width: 44%;
  align-self: center;
}

.scores {
  display: flex;
  width: 12%;
  justify-content: center;
}

.winCountHome {
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  background: rgba(215, 8, 8, 0.7);
  font-size: 2.2rem;
  padding: 1.2rem;
  margin-top: 1rem;
}

.winCountAway {
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  background: rgba(11, 8, 215, 0.7);
  font-size: 2.2rem;
  padding: 1.2rem;
  margin-top: 1rem;
}

.drawCount {
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  background: rgba(255, 205, 0, 0.7);
  font-size: 2.2rem;
  padding: 1.2rem;
  margin-top: 1rem;
}

.logobigger {
  width: 7.5rem;
  height: auto;
  display: flex;
  align-self: center;
}

.homeWinner {
  font-weight: 600;
}

.awayWinner {
  font-weight: 600;
}

/* Button */

.btnVisible {
  align-self: center;
  width: 30rem;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: var(--green);
  border: 1px solid var(--green);
  background: var(--blue);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btnHidden {
  visibility: hidden;
}

.btnVisible:hover {
  border: 1px solid var(--green);
  background: var(--green);
  color: var(--blue);
  box-shadow: var(--green) 2px 2px 5px;
  cursor: pointer;
}

/* standingItem.css */

.champ {
  background: #030e72;
  color: antiquewhite;
}

.euro {
  background: #F18800;

}

.relegation {
  background: red;
}

.logo {
  max-height: 50px;
  max-width: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
}

li {
  width: 4rem;
  line-height: 2.5rem;
  text-align: center;
  justify-content: center;
  border-bottom: 0.1px solid var(--gray);
}

.shorts {
  color: var(--green);
}

.goals {
  width: 5rem;
}

.club_logo {
  height: 1.5rem;
  width: auto;
}

.clubname {
  padding-left: 0.4rem;
  min-width: 22rem;
  text-align: left;
}

.clubname_ {
  padding-left: 0.4rem;
  min-width: 22rem;
  text-align: left;
}

.clubname_:hover {
  background: var(--white);
  color: var(--blue);
  cursor: pointer;
}

.clubname_chosenTeam1 {
  padding-left: 0.4rem;
  min-width: 22rem;
  text-align: left;
  background: rgba(215, 8, 8, 0.7)
}

.clubname_chosenTeam2 {
  padding-left: 0.4rem;
  min-width: 22rem;
  text-align: left;
  background: rgba(11, 8, 215, 0.7)
}

/* ------- */

.team1Color {
  background: rgba(215, 8, 8, 0.7);
  padding: 0.2em;
  border-radius: 0.7rem;
  min-width: 2.5rem;
  text-align: center;
}

.team2Color {
  background: rgba(11, 8, 215, 0.7);
  padding: 0.2em;
  border-radius: 0.7rem;
  min-width: 2.5rem;
  text-align: center;
}

.drawColor {
  background: rgba(255, 205, 0, 0.7);
  padding: 0.2em;
  border-radius: 0.7rem;
  min-width: 2.5rem;
  text-align: center;
}

/* Accordion */
.accordion-list {
  margin: 0rem 1rem 0;
}

.accordion {
  margin: 1.5rem 0.8rem;
  border: 1px solid var(--green);
  max-width: 500px;
  cursor: pointer;
  border-radius: 1rem;
}

.accordion-que {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.accordion-ans {
  margin: 0 3rem 0.5rem 1rem;
}

.accordion-icon{
  padding-right: 1rem;
  font-weight: 600;
}

/*Footer */

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--green);
  color: var(--gray);
  font-size: 1.1rem;
  align-items: center;
}

footer>div {
  padding: 1rem
}

svg {
  margin: 1rem;
  background-color: var(--white)
}


/* ------ */

.littleBoxChamps{
  background-color: #030e72;
  color: #030e72;
  width: 1rem;
  border: 1px solid var(--gray);
  margin-right: 1rem;
}

.littleBoxEuro{
  background-color: #F18800;
  color: #F18800;
  width: 1rem;
  border: 1px solid var(--gray);
  margin-right: 1rem;
}

.littleBoxRelegation{
  background-color: red;
  color: red;
  width: 1rem;
  border: 1px solid var(--gray);
  margin-right: 1rem;
}

.renderedList{
  margin-bottom: 1rem;
}

.flex{
  display: flex;
  margin: 0 0 1rem 2rem;
  font-size: 1.1rem;
  color: var(--gray);
}

.mobile{
  display: none;
}

@media screen and (min-width: 480px) {
  .mobile{
    display: block;
  }
}

@media screen and (min-width: 600px) {
  html{
    font-size: 11px;
  }

  .mobile{
    display: block;
  }
}

@media screen and (min-width: 1122px) {
  html{
    font-size: 12px;
  }

  .mobile{
    display: block;
  }
}